@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center text-dark">
    <h1 class="display-4">Bienvenido a M-CHAT</h1>
    <p>
        El autismo es una condición que afecta a 1 de cada 115 niños, en los que un tratamiento que sea
        aplicable desde 18 primeros meses de vida será esencial para un mejor desarrollo en su lenguaje
        y en la interacción social.
    </p>
</div>
<br />
<br />
<div class="text-center text-dark">
    <h5 class="display-4">¿Que hace esta pagina web?</h5>
    <p>
        En esta pagina web, podras realizar un test de autismo a un niño que registres.
        Pulsa en "Registrarse" para crear una cuenta de tutor y adicionalmente agregar un niño
        Pulsa en "Iniciar Sesion" para iniciar la sesion de tutor y posteriormente ver la informacion de tu cuenta y los niños registrados en ella.
    </p>
    <div class="d-flex justify-content-center">
        <a asp-page="/Registrarse" class="btn btn-dark m-1">Registrarse</a>
        <a asp-page="/Sesion" class="btn btn-success m-1">Iniciar Sesion</a>
    </div>
</div>
