@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a M-CHAT</h1>
    <p>
        El autismo es una condición que afecta a 1 de cada 115 niños, en los que un tratamiento que sea
        aplicable desde 18 primeros meses de vida será esencial para un mejor desarrollo en su lenguaje
        y en la interacción social.
    </p>
</div>
