@page
@model M_CHAT.Pages.RegistroModel
@{
}
    <div class="d-flex justify-content-end">
        <a asp-page="/Index" class="btn btn-danger m-1">Cancelar</a>
        <a asp-page="/Test" class="btn btn-success m-1">Test></a>

    </div>
<br />
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<hr />
<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header">
            Datos del tutor
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group">
                    <label for="ControlInput1">Nombre</label>
                    <input type="text" class="form-control" id="ControlInput1" placeholder="Escriba su nombre">
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="ControlInput2">Direccion</label>
                    <input type="text" class="form-control" id="ControlInput2" placeholder="Calle 01 #234 x 56 y 57">
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label for="ControlInput3">Correo Electronico</label>
                    <input type="text" class="form-control" id="ControlInput3" placeholder="Correo@correo.com">
                </div>
            </li>
        </ul>
    </div>
</p>
<p>
    <div class="flex-grow-1 p-2">
        <!--Nav tabs-->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#datosInfante" role="tab">
                    Datos del Infante
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#datosCEdu" role="tab">
                    Datos del Centro Educativo
                </a>
            </li>
        </ul>
        <!--TabPanes-->
        <div class="tab-content">
            <div id="datosInfante" class="tab-pane fade show active" role="tabpanel" aria-labelledby="datosInfante-tab">
                <div class="form-group row">
                    <label for="ControlInput4" class="col-form-label col-sm-2">
                        Nombre Completo:
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ControlInput4" placeholder="Nombres Apellidos">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ControlInput5" class="col-form-label col-sm-2">
                        CURP:
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ControlInput5" placeholder="ABCD012345EFGHI67">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ControlInput6" class="col-form-label col-sm-2">
                        Nacionalidad:
                    </label>
                    <div class="form-group col-sm-10">
                        <select class="form-control" id="sel1">
                            <option>Méxicana</option>
                            <option>Española</option>
                            <option>Estado Unidense</option>
                            <option>*otra*</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ControlInput7" class="col-form-label col-sm-2">
                        Fecha de nacimiento:
                    </label>
                    <div class="col-sm-10">
                        <input type="date" data-role="" class="form-control" id="ControlInput7">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ControlInput8" class="col-form-label col-sm-2">
                        Genero:
                    </label>
                    <div class="col-sm-10">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">

                                Masculino

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">

                                Femenino

                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">

                                Otro

                            </label>
                        </div>
                    </div>
                </div>
                <div id="datosCEdu" class="tab-pane fade" role="tabpanel" aria-labelledby="datosCEdu-tab">
                    <div class="form-group row">
                        <label for="ControlInput9" class="col-form-label col-sm-2">
                            Clave:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ControlInput9" placeholder="Escriba la clave del Centro Educativo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ControlInput10" class="col-form-label col-sm-2">
                            Nombre:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ControlInput10" placeholder="Escriba el nombre del Centro Educativo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ControlInput11" class="col-form-label col-sm-2">
                            Direccion:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ControlInput11" placeholder="Calle 01 #234 x 56 y 57">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p>

