@page
@model M_CHAT.Pages.ResultadosModel
@{
}

<p>
    <div class="d-flex justify-content-end">
        <a asp-page="#" class="btn btn-success m-1">Descargar Resultado</a>
    </div>
</p>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<hr />
<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header">
            Resultado:
        </div>
        <div class="text-justify m-4">
            """"Aqui se despliegan los resultados"""
        </div>
    </div>
</p>
<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header text">
            Informacion Importante:
        </div>
        <div class="text-justify m-4">
            No todos los casos en los que se fallen sufiecientes preguntas cumplen el diagnostico del espectro autista, sin embargo, existe la posibilidad, por lo que se justifica
            la realizacion de una valoracion medica, en este caso usted puede acudir al Centro de Salud mas cercano a su domicilio. Para mayor informacion comunicarse a Medicina a
        </div>
        
    </div>
</p>
<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header">
            Centros de Salud Cercanos:
        </div>
        <div class="text-justify m-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Mapa_de_M%C3%A9rida%2C_Yucat%C3%A1n.svg/1200px-Mapa_de_M%C3%A9rida%2C_Yucat%C3%A1n.svg.png" width="720" height="480"/>
        </div>
        <div>
            --Cuando sepa usar apis el mapa de verdad irá aqui :'v--
        </div>
    </div>
</p>