@page
@model M_CHAT.Pages.SesionModel
@{
    ViewData["Title"] = "Iniciar Sesion";

}
    <center>
        <h1 class="align-content-center">Iniciar Sesion</h1>
    </center>
<form method="post" class="d-flex justify-content-center">
    <div class="card d-flex justify-content-end" style="width: 30rem;">
        <div class="card-header">
            Datos del tutor
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="Cuenta.Correo"></label>
                    <input type="text" class="form-control" role="textbox" asp-for="@Model.Cuenta.Correo" placeholder="Correo@correo.com">
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label asp-for="Cuenta.Contrasenia"></label>
                    <input type="password" class="form-control" role="textbox" asp-for="@Model.Cuenta.Contrasenia" placeholder="°°°°°°°°">
                    <br />
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-success m-1">Iniciar Sesion</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</form>
    
